<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Password Reset</h4>
  <i id="close" class="fa fa-close" style="font-size:24px" (click)="modalDismiss('Cross click')"></i>
</div>
<div class="modal-body">
  <div class="container">
    <div class="card card-container">
      <h5>Confirm sending email with link to reset the password?</h5>
      <button class="btn btn-lg btn-danger btn-block btn-signin" (click)="modalDismiss('Close')">Cancel</button>
      <button class="btn btn-lg btn-primary btn-block btn-signin" (click)="sendEmail()">Send</button>
    </div>
  </div>
</div>
