<div class="container">
  <div class="card card-container">

    <img id="profile-img" class="profile-img-card" src="assets/images/woman.png" />

    <form class="form-signin" (ngSubmit)="registerUser()" [formGroup]="registerForm">

      <input type="text" id="name" class="form-control" name="name" autocomplete="off"
        formControlName="name" placeholder="Name" title="Please enter your user name" required autofocus>

      <input type="text" id="email" class="form-control" name="email" placeholder="Email" (focus)="clearErrors()"
        title="Please enter the email" autocomplete="off" formControlName="email" required autofocus>

      <input type="password" id="password" class="form-control" name="password" placeholder="Password"
        (focus)="clearErrors()" title="Please enter the password" autocomplete="off" formControlName="password"
        required>

      <input type="password" id="confirmpass" class="form-control" name="confirmpass" placeholder="Confirm password"
        (focus)="clearErrors()" title="Please re-enter the password" autocomplete="off" formControlName="confirmpass"
        required>

      <input class="form-check-input" type="checkbox" id="tfa" name="tfa" formControlName="tfa">
      <label class="form-check-label" for="tfa">
        Two phase authentication
      </label>

      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign up</button>

      <p style="text-align:center;">Remember credentials? <a [routerLink]="['/login']">Login here</a></p>

      <p class="text-success" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>

      <div class="error" *ngIf="registerForm.hasError('registerErrors')">
        <div
          *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)"
          class="alert">
          <div *ngIf="registerForm.controls['email'].errors">
            Email is invalid.
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.['required']">
            Email is required.
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.['minlength']">
            Email must be at least 7 characters long.
          </div>
        </div>
        <div
          *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
          class="alert">
          <div *ngIf="registerForm.controls['password'].errors?.['required']">
            Password is required.
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['minlength']">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>

    </form>

  </div>
</div>

<app-messages></app-messages>